*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

## SCons stuff
.sconf_temp/*
.sconsign.dblite
config.log

## byte compiled python (because of site_scons/site_tools)
*.pyc

## Do not accidentally commit anything in data and results of any chapter.
## data is often too large and results are generated as part of the build.
data/
results/

## inkscape with --export-latex
*.pdf_tex

## Because Andrew uses Mac
.DS_Store

## Emacs files
*~
\#*\#
